/*
 * CAPAS:
 * Capa 0  default_layer   escritura base
 * Capa 1  nav_layer       MO1 - navegacion y numeros
 * Capa 2  sym_layer       MO2 - simbolos
 *
 * COMBOS:
 *   D+F  (15+16) -> MINUS
 *   J+K  (19+20) -> PLUS
 *   Q+W  ( 1+ 2) -> LG(Z)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {

        /* Tap = ESC  |  Hold = LSFT */
        shft_esc: shft_esc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        /* Tap = TAB  |  Hold = LSFT */
        tab_shft: tab_shft {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        /* Tap = :  |  Shift = ; */
        colon_semi: colon_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(SEMI)>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Tap = ,  |  Shift = " */
        comma_dquote: comma_dquote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LS(SQT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    combos {
        compatible = "zmk,combos";

        combo_minus {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp MINUS>;
        };

        combo_plus {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp PLUS>;
        };

        combo_undo {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp LG(Z)>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&shft_esc LSFT ESC   &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I          &kp O    &kp P     &colon_semi
&tab_shft LSFT TAB   &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K          &kp L    &kp BSPC  &kp RSHFT
&kp LCTRL            &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &comma_dquote  &kp DOT  &kp FSLH  &kp RET
                              &mo 2  &kp LALT  &kp LGUI      &kp LS(LA(LC(LGUI)))  &kp SPACE  &mo 1
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &kp N0  &kp N1  &kp N2  &kp N3  &kp N4      &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9      &trans  &trans    &trans    &trans     &trans  &trans
                          &trans  &trans  &trans      &trans  &trans    &trans
            >;
        };

        sym_layer {
            bindings = <
&trans  &kp EXCL    &kp AT    &kp HASH   &kp RPAR   &kp PIPE       &kp AMPS   &kp RBKT   &kp EQUAL  &kp QMARK  &kp PRCNT  &trans
&trans  &kp LA(N1)  &kp ASTRK &kp MINUS  &kp LPAR   &trans         &trans     &kp LBKT   &kp PLUS   &kp LA(Z)  &trans     &trans
&trans  &kp F1      &kp F2    &kp F11    &kp F12    &kp TILDE      &kp DLLR   &kp UNDER  &trans     &trans     &kp BSLH   &trans
                                 &trans  &trans     &trans         &trans     &trans     &trans
            >;
        };

    };
};
