#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {

        plus_minus: plus_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUS_MINUS";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp MINUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        colon_semi: colon_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "COLON_SEMI";
            #binding-cells = <0>;
            bindings = <&kp LS(SEMI)>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_dquote: comma_dquote {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_DQUOTE";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_gt: dot_gt {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_GT";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash_qmark: slash_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_QMARK";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        // ╔══════════════════════════════════════════════════════════╗
        // ║  CAPA 0 — escritura                                      ║
        // ╠══════╦══╦══╦══╦══╦══╬══╦══╦══╦══╦══╦══════════╣
        // ║ ESC  ║q ║w ║e ║r ║t ║y ║u ║i ║o ║p ║   +/−   ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║ TAB  ║a ║s ║d ║f ║g ║h ║j ║k ║l ║BSPC║  :/;  ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║ CTRL ║z ║x ║c ║v ║b ║n ║m ║,/" ║./> ║/? ║ mo2 ║
        // ╚══════╩══╩══╩══╦══╦══╬══╦══╦══╩══╩══╩══════════╝
        //                 ║⌥ ║⌘ ║⇧║RET║SPC║mo1║
        //                 ╚══╩══╩══╩══╩══╩══╝

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I          &kp O    &kp P        &plus_minus
&kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K          &kp L    &kp BSPC     &colon_semi
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &comma_dquote  &dot_gt  &slash_qmark &mo 2
                  &kp LALT  &kp LGUI  &kp LSHFT      &kp RET  &kp SPACE  &mo 1
            >;
        };

        // ╔══════════════════════════════════════════════════════════╗
        // ║  CAPA 1 — símbolos y números               (hold mo1)   ║
        // ╠══════╦══╦══╦══╦══╦══╬══╦══╦══╦══╦══╦══════════╣
        // ║ ESC  ║@ ║# ║$ ║! ║| ║& ║[ ║⬆ ║( ║) ║    =    ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║ TAB  ║0 ║1 ║2 ║3 ║4 ║{ ║⬅ ║⬇ ║➡ ║BSPC║  BSPC ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║ CTRL ║5 ║6 ║7 ║8 ║9 ║« ║_ ║🪟 ║* ║% ║  CAPS  ║
        // ╚══════╩══╩══╩══╦══╦══╬══╦══╦══╩══╩══╩══════════╝
        //                 ║⌥ ║⌘ ║⇧║RET║SPC║mo1║
        //                 ╚══╩══╩══╩══╩══╩══╝

        symbols_layer {
            bindings = <
&trans  &kp AT  &kp HASH  &kp DLLR  &kp EXCL  &kp PIPE      &kp AMPS      &kp LBKT   &kp UP    &kp LPAR   &kp RPAR   &kp EQUAL
&trans  &kp N0  &kp N1    &kp N2    &kp N3    &kp N4        &kp LBRC      &kp LEFT   &kp DOWN  &kp RIGHT  &kp BSPC   &kp BSPC
&trans  &kp N5  &kp N6    &kp N7    &kp N8    &kp N9        &kp LA(BSLH)  &kp UNDER  &kp F3    &kp ASTRK  &kp PRCNT  &kp CAPS
                           &trans    &trans    &trans        &trans        &trans     &trans
            >;
        };

        // ╔══════════════════════════════════════════════════════════╗
        // ║  CAPA 2 — emoji/Globe               (hold mo2)          ║
        // ╠══════╦══╦══╦══╦══╦══╬══╦══╦══╦══╦══╦══════════╣
        // ║      ║  ║  ║  ║  ║  ║  ║  ║  ║  ║  ║          ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║      ║  ║  ║  ║  ║  ║  ║  ║  ║  ║  ║          ║
        // ╠══════╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══╬══════════╣
        // ║      ║  ║  ║  ║  ║  ║  ║  ║  ║  ║  ║          ║
        // ╚══════╩══╩══╩══╦══╦══╬══╦══╦══╩══╩══╩══════════╝
        //                 ║  ║  ║  ║  ║🌐 ║   ║
        //                 ╚══╩══╩══╩══╩══╩══╝

        globe_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans      &trans  &kp RSHFT  &trans
            >;
        };

    };
};
